.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60%;
  min-width: 328px;
  max-width: 450px;
  margin: 0 auto;
}

li {
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  margin: 0.3rem;
}

ul#input-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ul#input-buttons li {
  flex-basis: 25%;
}

* {
  box-sizing: border-box;
  padding: 0;
}

#screen {
  width: 100%;
  border: solid 1px #ccc;
  margin-bottom: 20px;
  height: 300px;
  overflow: scroll;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  padding: 1.25rem;
}

#stack {
  display: flex;
  flex-direction: column;
  text-align: right !important;
  overflow: auto;
}

#stack li {
  text-align: right !important;
  justify-content: flex-end;
}
#screen span {
  height: 50px;
  width: 100%;
  display: block;
  font-size: 3rem;
  text-align: right;
}
#buttons {
  display: flex;
}
#buttons .column:first-of-type {
  flex-basis: 75%;
}
#buttons .column:last-of-type {
  flex-basis: 25%;
}

ul#input-buttons,
ul#action-buttons,
ul#operator-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

ul#input-buttons li {
  text-align: center;
  flex-basis: 25%;
  list-style: none;
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
  transition: all 0.3s ease;
}

ul#operator-buttons li {
  text-align: center;
  flex-basis: 75%;
  list-style: none;
  background-color: #333;
  border-color: transparent;
  color: #fff;
  transition: all 0.3s ease;
}

ul#input-buttons li:hover,
ul#operator-buttons li:hover,
ul#action-buttons li:hover {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  opacity: 0.9;
}

ul#operator-buttons li#enter {
  background-color: #ffdd57;
  border-color: transparent;
  color: black;
}

ul#action-buttons li {
  text-align: center;
  flex-basis: 25%;
  list-style: none;
  background-color: #f5f5f5;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}

#enter,
#swap,
#clear {
  border: solid 1px #ccc;
  padding: 1rem;
}
